<form method="POST" action="/attack/<%= lab.name %>?mode=<%= mode %>">

    <input name="username" placeholder="Username">
    <input name="password" placeholder="Password">

    <button>Login</button>
</form>